@use 'mixins';

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }


.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

body {
    font-family: "Outfit";
    @include mixins.flex-column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: hsl(30, 54%, 90%);

    @media (min-width: 320px) and (max-width: 480px) {
        width: 100vw;
        min-height: 100vh;
    }

    @media (min-width: 768px) {
        width: 100vw;
        min-height: 100vh;
    }

    main {
        @include mixins.flex-column;
        width: 485px;
        background-color: white;
        padding: 35px;
        margin: 30px;
        border-radius: 15px;

        @media (min-width: 320px) and (max-width: 480px) {
            width: 310px;
        }

        .hero-img {
            border-radius: 15px;
        }        

        .heading {
            font-family: "Young Serif";
            color: hsl(24, 5%, 18%);
            font-size: 30px;
            font-weight: 300;
            padding-top: 25px;
            margin: 0px;
        }

        .hero-section-caption {
            margin-top: 12px;
            margin-bottom: 25px;
        }

        .prep-time {
            color: hsl(30, 10%, 34%);
            font-size: 13px;
            background-color: hsl(330, 100%, 98%);
            border-radius: 10px;
            padding: 0px 15px 15px 5px;
            font-size: 12px;

            h4 {
                font-size: 15px;
                color: hsl(332, 51%, 32%);
                padding: 0px;
                margin-bottom: 0;
                margin-left: 15px;
            }

            ul {
                margin-top: 5px;
                margin-bottom: 10px;
            }

            li::marker {
                color: hsl(332, 51%, 32%);
            }
        }

        .instructions ol {
            padding: 0px 15px 10px 15px;
        }

        .ingredients ul {
            padding: 0px 15px 10px 15px;
        }

        .ingredients li::marker {
            color: hsl(14, 45%, 36%);
        }

        .instructions li::marker {
            font-weight: bold;
            color: hsl(14, 45%, 36%);
        }

        .sub-heading {
            font-family: "Young Serif";
            color: hsl(14, 45%, 36%);
            font-weight: 100;
            padding: 0;
        }

        ul {
            margin-bottom: 25px;

            li {
                margin-bottom: 8px;
            }
        }

        hr {
            color: hsl(30, 10%, 34%);
            border-top: 1px;
            opacity: 0.3;
        }

        table {
            width: 100%;

            td {
                padding: 10px 20px;
                border-bottom: 1px solid hsl(30, 10%, 34%, 0.2);
            }
        }

        .bold-text {
            font-weight: bold;
        }

        .bullet-point-spacing {
            position: relative;
            padding-left: 10px;
        }

        .nutrition-info .bold-text {
            color: hsl(14, 45%, 36%);
        }
        
        .attribution { 
            font-size: 11px; text-align: center; 
        }
        
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}

body:not(.heading) {
    line-height: 1.5;
    font-size: 12px;
    color: hsl(30, 10%, 34%);
}